<form class="flexcol" autocomplete="off">
    <h2 style="justify-content: space-between; display: flex;"><span>{{localize 'TTSC.CoeFontVoiceListSettingslabel'}}</span><a style="margin-right: 5px;" class="add-voice" title="{{localize 'TTSC.WindowVoiceAdd'}}"><i class="fas fa-plus"></i></a></h2>
    {{#each coeList as |list|}}
        <div class="form-group">
            <div style="flex-basis: 100%; display: flex; justify-content: space-between;" data-id="{{@index}}" data-name="{{list.name}}"><input style="width:44%" type="text" id="" placeholder="{{localize 'TTSC.WindowVoiceSource'}}" name="{{@index}}{{list.name}}" pattern="[^/#&?%.\-+_=@／＃＆？％．￥－＋＿＝＠]+" title="{{localize 'TTSC.WindowVoiceSourceTitle'}}" value="{{list.name}}"><input style="width:44%" type="text" id="" placeholder="{{localize 'TTSC.WindowCoeFontSettingsUuid'}}" name="{{@index}}{{list.name}}df" pattern="^([0-9a-zA-Z._%+-]{30,})$" title="{{localize 'TTSC.WindowCoeFontSettingsUuidtitle'}}" value="{{list.coef.df}}"><div style="display:flex;justify-content: space-evenly;width:8%"><a class="voice-delete" title="{{localize 'TTSC.WindowDelete'}}"><i class="fas fa-trash"></i></a><a class="accordion-switch" title="{{localize 'TTSC.WindowAccordionSwitch'}}"><i class="fas fa-angle-up"></i></a></div></div>
            <div class="sub-voice-settings" style="display: none;">
                <div style="display: flex;flex-basis: 100%; justify-content: space-between;"><span style="width:34%"></span><span style="width:5%">・</span><label style="width:5%">{{localize 'TTSC.WindowCorFontSettingsDelight'}}</label><input style="width:54%" type="text" id="" placeholder="{{localize 'TTSC.WindowCoeFontSettingsUuid'}}" name="{{@index}}{{list.name}}ki" pattern="^([0-9a-zA-Z._%+-]{30,})$" title="{{localize 'TTSC.WindowCoeFontSettingsUuidtitle'}}" value="{{list.coef.ki}}"></div>
                <div style="display: flex;flex-basis: 100%; justify-content: space-between;"><span style="width:34%"></span><span style="width:5%">・</span><label style="width:5%">{{localize 'TTSC.WindowCorFontSettingsAnger'}}</label><input style="width:54%" type="text" id="" placeholder="{{localize 'TTSC.WindowCoeFontSettingsUuid'}}" name="{{@index}}{{list.name}}dio" pattern="^([0-9a-zA-Z._%+-]{30,})$" title="{{localize 'TTSC.WindowCoeFontSettingsUuidtitle'}}" value="{{list.coef.dio}}"></div>
                <div style="display: flex;flex-basis: 100%; justify-content: space-between;"><span style="width:34%"></span><span style="width:5%">・</span><label style="width:5%">{{localize 'TTSC.WindowCorFontSettingsSorrow'}}</label><input style="width:54%" type="text" id="" placeholder="{{localize 'TTSC.WindowCoeFontSettingsUuid'}}" name="{{@index}}{{list.name}}ai" pattern="^([0-9a-zA-Z._%+-]{30,})$" title="{{localize 'TTSC.WindowCoeFontSettingsUuidtitle'}}" value="{{list.coef.ai}}"></div>
                <div style="display: flex;flex-basis: 100%; justify-content: space-between;"><span style="width:34%"></span><span style="width:5%">・</span><label style="width:5%">{{localize 'TTSC.WindowCorFontSettingsPleasure'}}</label><input style="width:54%" type="text" id="" placeholder="{{localize 'TTSC.WindowCoeFontSettingsUuid'}}" name="{{@index}}{{list.name}}rk" pattern="^([0-9a-zA-Z._%+-]{30,})$" title="{{localize 'TTSC.WindowCoeFontSettingsUuidtitle'}}" value="{{list.coef.rk}}"></div>
            </div>
        </div>
    {{/each}}

    <!-- Settings Footer -->
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
        <button type="button" name="reset">
            <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
        </button>
    </footer>
</form>